<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools Unduh Video Sosmed</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Opsional: CSS untuk styling -->
</head>
<body>
    <div class="container">
        <h1>Unduh Video TikTok,Instagram,Youtube</h1>
        <% if (typeof error !== 'undefined') { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <form action="/download" method="post">
            <label for="url">URL Video:</label><br>
            <input type="text" id="url" name="url" placeholder="Masukkan URL video..." style="width: 300px;"><br><br>
            <button type="submit">Unduh Video</button>
        </form>
        <ul>
            <li><a href="https://twtv.tipiku.my.id/">Unduh video Twitter</a></li>
            <li><a href="https://efbi.tipiku.my.id/">Unduh video Facebook</a></li>
            <!-- Tambahkan tautan lain di sini jika diperlukan -->
        </ul>
    </div>
</body>
</html>
